{% extends 'base.html' %} 

{% block header %}
    <h1>{% block title %}Admin{% endblock %}</h1>
{% endblock %} 

{% block content %}t
    {% if tables != None %} 
        <div class="row row-cols-auto">
            {% for key in tables %}
                <div class="col">
                    <div>
                        &nbsp; 
                    </div>
                    <div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover caption-top align-middle">
                                <caption>{{ tables[key]['table_name'] | capitalize  }}</caption>
                                <thead>
                                    <tr>    
                                        {% for th in tables[key]['col_names'] %}
                                            <th scope="col">{{ th | capitalize | replace("_", " ") }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tr in tables[key]['table_rows'] %}
                                        <tr>
                                            <td col="sm-col-1" scope="row">{{ tr[0] | capitalize }}</th>
                                            <td col="sm-col-">{{ tr[1] | capitalize }}</td>
                                            <td col="sm-col-2">{{ tr[2] | capitalize }}</td>
                                            <td col="sm-col-2">{{ tr[3] | capitalize }}</td>
                                            <td col="sm-col-5">{{ tr[4] | capitalize }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>   
                </div>   
            {% endfor %}
        </div> 
    {% endif %}
{% endblock %}



