{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} Log In {% endblock %}</h1>
{% endblock %} 

{% block content %}
{% from './macros/macros.j2' import display_fields %}
<form method="post">
    {{ display_fields(form.username, "Username", True, "We'll never share your email with anyone else",  "form-control", "form-control-lg", autocomplete = "off", autofocus = "true" ) }}
    {{ display_fields(form.password, "Password", False, " ",  "form-control", "form-control-lg") }}
    {{ display_fields(form.remember_me, False, False, " ",  "form-check-input" ) }}
    <button type="submit" class="btn btn-primary" value="Log In">Log In</button>
    <div>
        {{ form.csrf_token }} {# Renders any hidden fields, including the CSRF #}
    </div>
</form>
{% endblock %}
 