{% extends 'base.html' %} {% block header %}
{% from './macros/macros.j2' import display_fields %}
<h1>{% block title %} Log In {% endblock %}</h1>
{% endblock %} 

{% block content %}

{% from './macros/macros.j2' import display_fields %}

{{ display_fields(form.username, "Username", True, "We'll never share your email with anyone else",  "form-control", "form-control-lg", autocomplete = "off", autofocus = "true" ) }}

{{ display_fields(form.password, "Username", False, " ",  "form-control", "form-control-lg") }}

{{ display_fields(form.remember_me, False, False, " ",  "form-check-input" ) }}

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    


<button type="submit" class="btn btn-primary" value="Log In">Log In</button>
    <div>
        {{ form.csrf_token }} {# Renders any hidden fields, including the CSRF #}
    </div>
</form>

{% endblock %}


<form method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control form-control-lg" name="username" id="username" required aria-describedby="username-help">
        <small id="username-help" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control form-control-lg" name="password" id="password" required>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" value="Log In">Log In</button>
</form>



