
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} New Post{% endblock %}</h1>
{% endblock %} 

{% block content %}
{% from './macros/macros.j2' import display_fields %}
<form method="post">
    {{ display_fields(form.title, "Title", False, False,  "form-control", "form-control-lg", autocomplete = "off", autofocus = "true" ) }}
    {{ display_fields(form.body, "Body", False, False,  "form-control", "form-control-lg", autocomplete = "off", autofocus = "true" ) }}

    <button type="submit" class="btn btn-primary" value="Log In">Save</button>
    <div>
        {{ form.csrf_token }} {# Renders any hidden fields, including the CSRF #}
    </div>
</form>
{% endblock %}
