{% macro display_flash_messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul class="fa-ul">
       {% for category, message in messages %}
      <li class="big text-{{category if category else 'danger'}}" ><i class="fa-li fa fa-times-circle"></i>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endmacro %}

{% macro display_fields(field_name, placeholder_value, is_help_text, help_text) %}
   {% set _class = ' '.join(varargs) %}
    <div class="form-group {% if placeholder_value == False %}form-check{% endif %} ">
        {% if placeholder_value  %}
              {{ field_name.label }}  
        {% endif %} 
        {{ field_name(class= _class, placeholder=placeholder_value|capitalize, **kwargs) }}
        {% if placeholder_value == False %}
              {{ field_name.label }}
        {% endif %} 
        {# ----Error reporting---- #}
        {% if field_name.errors %}
           <ul class=errors>
               {% for error in field_name.errors %}
                    <li>{{ error }}</li>
               {% endfor %}
           </ul>
        {% endif %}
        {% if is_help_text %}
            {% if help_text %}
              <small id="username-help" class="form-text text-muted">{{ help_text }}</small>
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}

{% macro is_not_text_input(inputType) %}
    {% if inputType == active_page %} xxxxx {% endif %}
{% endmacro %}


{%- macro textarea(name, value='', rows=10, cols=40) %}
<textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols}}">{{ value|e }}</textarea>
{%- endmacro %}

